name: Build EXE Universidad
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with: python-version: '3.12'
    
    - name: Install
      run: pip install PySide6 PySide6_Addons PySide6_Essentials shiboken6 Pillow pyinstaller
    
    - name: List files (debug)
      run: dir app /s
    
    - name: Build EXE
      run: |
        pyinstaller --onefile --windowed ^
          --hidden-import=PySide6.QtCore ^
          --hidden-import=PySide6.QtGui ^
          --hidden-import=PySide6.QtWidgets ^
          --name "GestorUniversidad" ^
          main.py
    
    - uses: actions/upload-artifact@v4
      with:
        name: Gestor-Universidad
        path: dist/GestorUniversidad.exe
